.container
{
    margin-top: 50px;
}

Button
{
    margin: 10px 0 10px 0;
    padding: 10px 30px;
    width: auto;
    vertical-align: center;
    background-color: #1277c3;
    color: #ccc;
    font-size: 30;
    border-radius: 5px;
}

.searchBox
{
    border: 1px #666 solid;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
}

.listView
{
    
}

.viewList
{
    
}

.menuItem
{
    
}

.label
{
    padding: 0 0 0 10px;
    font-size: 25px;
    /*background-color: #DD0000; */
}

.labelRight
{
    padding: 0 10px 0;
    font-size: 30px;
    color: #ffcc00;
    /*background-color: #DD0000;*/
}
