.container {
    color:#3377cc;
}

.header-top {
    padding:12px 10px;
}

.menuItem {
    margin:4px 0;
    padding:10px 0px;
    background-color:#EBEBEB;
}

.menuItem-inner {
    padding:0 10px;
}


/*
.container
{
    margin-top: 50px;
    color:#3377cc;
}

.header-top {
    padding:10px 0;
    background-color:#CCCCCC;
}

Button
{
    margin: 10px 0 10px 0;
    padding: 10px 30px;
    width: auto;
    vertical-align: center;
    background-color: #1277c3;
    color: #ccc;
    font-size: 30;
    border-radius: 5px;
}

.searchBox
{
    border: 1px #666 solid;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
}

.listView
{
    
}

.viewList
{
    
}

.menuItem
{
    
}

.label
{
    padding: 0 0 0 10px;
    font-size: 25px;
}

.labelRight
{
    padding: 0 10px 0;
    font-size: 16px;
    color: #888;
}

.header-title {
    margin:20px 0 10px 0;
    font-size:40px;
    height:30px;
}
*/
