Page {
    /*background-color:#00FF00;*/
}

.container {
    color:#3377cc;
    background-color:#0000FF;
}

.header-container {
    padding:5px 3px 5px 10px;
    background-color:#F7F7F7;
}

.logo {
    width:63px;
}

.top-header-left-icon {
    
}

.top-header-right-icon {
    width:25px;
    height:25px;
}

.content-wrapper {
    margin-top:40px;
    background-color:#FF0000;
}

.menu-header {
    color:#334478;
    font-size:20px;
}

.menu-item {
    /*background-color:#CCCCCC;*/
    margin:0 0 3px 0;
    padding:15px 10px;
}

.menuItem-inner {
   /*padding:0 10px;*/
}

.liner {
    background-color:#222222;    
}

.title {
    margin:0 0 0 10px;
}

.id-type {
    background-color:#AAAAAA;
}

.id-item {
    background-color:#888888;
}

/*
.container
{
    margin-top: 50px;
    color:#3377cc;
}

.header-top {
    padding:10px 0;
    background-color:#CCCCCC;
}

Button
{
    margin: 10px 0 10px 0;
    padding: 10px 30px;
    width: auto;
    vertical-align: center;
    background-color: #1277c3;
    color: #ccc;
    font-size: 30;
    border-radius: 5px;
}

.searchBox
{
    border: 1px #666 solid;
    font-size: 22px;
    padding: 10px 20px 10px 20px;
}

.listView
{
    
}

.viewList
{
    
}

.menuItem
{
    
}

.label
{
    padding: 0 0 0 10px;
    font-size: 25px;
}

.labelRight
{
    padding: 0 10px 0;
    font-size: 16px;
    color: #888;
}

.header-title {
    margin:20px 0 10px 0;
    font-size:40px;
    height:30px;
}
*/
