.info  {
    font-size: 30;
    color: #2E4F8A;
}

.infoLabel  {
    padding:10px;
    font-size: 22;
    color: #99ABD6;
}

.card {
    color: #D63326;
    font-size: 100;
    width: 100;
}

Button {
    padding:10px 30px;
    width:auto;
    vertical-align: center;
    background-color: #037AC4;
    color: #8CE8FC;
    font-size: 30;
}